body {
  background-color: #272934;
}

h1 {
  color: navy;
  margin-left: 20px;
}

label {
    color: azure;
    margin: 10px;
}

input{
    border:none;
    outline:none;
    height:34px;
    vertical-align:middle;
    position:relative;
    border-radius:10px;
    width: auto;
    box-sizing:border-box;
    padding:0 18px;
    margin: 10px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    background: #36383f;
    display: inline-block;
    align-self: center;
    padding: 6px 12px;
    cursor: pointer;
}

.my_menu {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container {
    background: #1f2129;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    width: auto;
    border-radius: 20px;
}

.left-menu {
    order: -1;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main-page {
    order: 1;
    align-self: flex-end;
    width: 800px;
    margin: 30px auto auto;
}

.button_menu {
    width: 200px;
    height: 50px;
    background: cornflowerblue;
    border-radius: 10px
}

.image_input {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* header */

header {
    z-index: 2;
    display: inline-grid;
    align-items: start;
    background: #1f2129;
    width: 100%;
}

header h1 {
    grid-row-start: 1;
    width: 200px;
}

header div {
    grid-row-start: 1;
    align-self: end;
    justify-self: end;
    border-radius:10px;
    background: #36383f;
    width: 50px;
    height: 20px;
}

.my_form {
    display: grid;
}

.input {
    display: grid;
    grid-row-gap: 10px;
}

.input input {
    background: #36383f;
    color: azure;
}