<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='style.css') }}">
    <title>Project Iris</title>
  </head>

  <body>
  <header>
    <h1 style="color: azure">Project: Iris</h1>
    <div><a href="/">sos</a></div>
    <div><a href="/">sas</a></div>
  </header>

    <div class="my_menu">
      <div class="container">
        <div class="left-menu">
          <a href="/personalize"><button class="button_menu" type="button">Personalize Bot</button></a>
          <a href="/settings"><button class="button_menu" type="button">Bot Settings</button></a>
          <a href="/admin"><button class="button_menu" type="button">Admin Roles</button></a>
        </div>
        <div class="main-page">
          {% if menu=='personalize' %}
          <form action="/personalize">
            <div class="image_input">
              <img src="{{ url_for('static',filename=settings['avatar']) }}"
                   alt="img" width="150px" height="150px" style="align-self: center; border-radius: 75px;">
              <label class="custom-file-upload" for="img">Update Image</label>
              <input type="file" id="img" name="img" accept="image/*">
            </div>
            <div class="input">
              <label for="Name" style="grid-row: 1; grid-column: 1">Bot Name: </label>
              <input type="text" style="grid-row: 1; grid-column: 2" id="Name" value="{{ settings['name'] }}"/>
              <label for="Status" style="grid-row: 2; grid-column: 1">Status: </label>
              <select name="pets" id="Status" style="grid-row: 2; grid-column: 2">
                <option value="{{ settings['status'] }}">{{ status[settings['status']] }}</option>
                {% for key, value in status.items() %}
                {% if key != settings['status'] %}
                <option value="{{ key }}">{{ value }}</option>
                {% endif %}
                {% endfor %}
              </select>
              <label for="Activity" style="grid-row: 3; grid-column: 1">Activity: </label>
              <select name="pets" id="Activity" style="grid-row: 3; grid-column: 2">
                <option value="{{ settings['activity'] }}">{{ settings['activity'].title() }}</option>
                {% for value in activity %}
                {% if value != settings['activity'] %}
                <option value="{{ value }}">{{ value.title() }}</option>
                {% endif %}
                {% endfor %}
              </select>
              <label for="Activity text" style="grid-row: 4; grid-column: 1">Activity text: </label>
              <input type="text" style="grid-row: 4; grid-column: 2" value="{{ settings['activity_text'] }}" id="Activity text"/>
              <input type="submit">
            </div>
          </form>
          {% elif menu=='settings' %}
          <form action="/settings">
            <table>
              <tbody>
                <tr><th>Language = {{ settings['settings']['lang'] }}</th></tr>
                <tr><th>Prefix = {{ settings['settings']['prefix'] }}</th></tr></tbody>
            </table>
          </form>
          {% elif menu=='admin_roles' %}
          <form action="/settings">
            <table>
              <tbody>
                <tr><th>Admin roles = {{ settings['admin_roles'] }}</th></tr>
              </tbody>
            </table>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>