<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="initial-scale=1.0" name="viewport">
    <link href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static',filename='favicon.png') }}" rel="icon" type="image/x-icon">
    <script src="{{ url_for('static',filename='js/spa.js') }}" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.10/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
    <title>SPA</title>
</head>

<body>
<header>
    <h1 style="color: azure">Project: Iris</h1>
    <div><a href="/">sos</a></div>
    <div><a href="/">sas</a></div>
</header>
<div class="my-menu">
    <div class="container">
        <div class="left-menu">
            <a href="/personalize" class="btn-menu" id="personalize" data-link>Personalize Bot</a>
            <a href="/commands" class="btn-menu" id="commands" data-link>Bot Commands</a>
            <a href="/settings" class="btn-menu" id="settings" data-link>Bot Settings</a>
            <a href="/admins" class="btn-menu" id="admins" data-link>Admins</a>
        </div>
        <div class="main-page" id="main-page"></div>
    </div>
</div>
<div id="confirmation" style="display: none; flex-direction: column">
    <div style="color: azure">Save changes!</div>
    <div style="display: flex; flex-direction: row; justify-content: space-around; margin-top: 5px">
        <button id="confirm">Save</button>
        <button id="cancel">Reset</button>
    </div>
</div>
</body>
</html>